<header class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__logo">
      <img class="navbar__logo--image" src="../../assets/logo.png" alt="Logo">
      <h2 class="navbar__logo--title">ImgJanSearch</h2>
    </div>

    <div class="navbar__search">
      <div class="navbar__search--wrapper">
        <input #serachIpnut class="navbar__search--input" type="text" placeholder="Search For Images"
               (focus)="isShowSearches = true">
        <ul class="navbar__search--list" *ngIf="isShowSearches && allSearches.length > 0">
          <li (click)="onClearSearches()">CLEAR SEARCHES</li>
          <li *ngFor="let search of allSearches" (click)="onAddToSearch(search)">{{search}}</li>
        </ul>
      </div>
      <img *ngIf="isLoading" class="navbar__search--spinner" src="../../assets/spinner2.gif" alt="spinner">
    </div>
  </div>
</header>
