.gallery {
  width: 100%;
  //height: 100%;
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  &__wrapper {
    margin: 15rem auto;
    width: 90%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__photo {
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 8px;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(1.04) translateY(-18px);
      z-index: 999;
    }
    img {
      width: 0;
      height: 0;
      border-radius: 50px;
      transition: all .5s;
      animation: getBig 1s .3s forwards;
    }
    &:hover img {
      box-shadow: -1rem 1.5rem 1rem rgba(0,0,0, .4);
    }
  }
  &__no-photos {
    opacity: 0;
    font-size: 4rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn .8s .3s forwards;
    text-align: center;

    display: flex;
    align-items: center;

    p {
      margin-right: 1rem;
    }
    img {
      width: 4rem;
      height: 4rem;
      animation: jumping 6s 1s infinite;
    }
  }
}


@keyframes jumping {
  0% {transform: translateY(0) scaleY(1)}
  10% {transform: translateY(-5px) scaleY(1)}
  15% {transform: translateY(1px) scaleY(.9)}
  30% {transform: translateY(0) scaleY(1)}

}
@keyframes getBig {
  0% {width: 0; height: 0; border-radius: 50px}
  60% {width: 110%; height: 110%; border-radius: 7px}
  100% {width: 100%; height: 100%; border-radius: 7px}
}

@media only screen and (max-width: 1700px) {
    .gallery {
      &__no-photos {
        flex-direction: column;
      }
    }
}
@media only screen and (max-width: 900px) {
  .gallery {
    &__no-photos {
      font-size: 2rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .gallery {
    &__photo  {
      width: 15rem;
      height: 15rem;
    }
  }
}
